*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#main-home{
    background-color: #f4f4f4;
}
.fa-1x {
    font-size: 1.5rem;
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* padding-top: 0.5rem; */
    padding-bottom: 0.5rem;
}
.navbar-toggler.toggler-example {
    cursor: pointer;
}
.dark-blue-text {
    color: #0A38F5;
}

/* Logo : JM Services */
.logo{
    width: 15rem;
    height: 8.6rem;
}
.three-dots{
    text-align: center;
    margin-top: 1rem;
    margin-left: 68rem;
}
.dot{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #007eb7;
    display: inline-block;
    /* margin: 0.01rem; */
}

.dot-color {
    background-color: #84b4be;
}
.card-section-right p {
    color: #afafb1;
}
.card-section-right ul {
    padding: 0;
    margin: 0;
    color: #afafb1;
}

.card-section-right ul li {
    list-style: none;
}
.card-section-right .btn {
    float: right;
    padding-left: 2rem;
    padding-right: 2rem;
    border: none;
    border-radius: 0px;
    background-color: #0080be; 
    outline: none;
}

.profile img {
    position: relative;
    top: -5px;
    /* left: 38%; */
    border: 2px solid gray;
    width: 100px;
    margin-bottom: 0;
}

.three-dots-profile{
    margin-top: 1rem;
    margin-left: 10.5rem;
}

.dot-color-profile {
    background-color: #afafb1;
}

/* Footer CSS */
footer{
    margin-top: 1rem;
    width: 98.1vw;
    background-color: #e7e7e7;
}

.news,.stay-connected h4{
    margin-bottom: 2rem;
}
/* Popular articles */
.articles h4 {
    margin-bottom: 2rem;
}
.articles, .tags h4{
    margin-bottom: 2rem;
}
footer .articles ul li {
    list-style: none;
    color: #007cbf;
    margin-bottom: 3px;
}

/* Tags */
.links .btn{
    padding-left: 2rem;
    padding-right: 2rem;
    border: none;
    border-radius: 0px;
    background-color: #0080be; 
    outline: none;
    margin-bottom: 0;
}

/* Latest News */
.news1 h6, .news2 h6{
    color: #007cbf;
}
.news1 p, .news2 p{
    color: #afafb1;
}

.social-media-icons {
    flex-wrap: wrap;
    justify-content: space-around;
}
.social-media-icons i {
    flex: 0 0 33.33%;
}

/* Copyright */
.copyright {
    background-color: #e7e7e7;
    color: #afafb1;
}

.right{
    /* float: right; */
    margin-left: 63rem;
}